@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #eeeded;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  align-items: center;
  width: 100%;
  padding: 25px;
  border-bottom: 1px solid #e8e8e8;
}

.nav-items {
  list-style: none;
  display: flex;
  gap: 45px;
  position: absolute;
  left: 40%;
}

.nav-link {
  text-decoration: none;
  color: #121212;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
}

.nav {
  color: black;
}

.nav:nth-child(2) {
  opacity: 0.5;
}

.nav-link:hover {
  color: #0290ff;
  cursor: pointer;
}

.logo {
  font-weight: bold;
  color: #0290ff;
}

.user-icon {
  margin: auto 6%;
  color: #0290ff;
  font-size: 2rem;
}

.main-container {
  margin: 50px;
}

.book-container {
  padding: 10px;
  display: flex;
  width: 98%;
  justify-content: space-between;
  background-color: #fff;
  gap: 10px;
}

.books-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.book-descr {
  padding: 10px;
}

.action {
  color: #121212;
  opacity: 0.5;
  text-transform: capitalize;
}

.book-title {
  font-family: "RobotoSlab", sans-serif;
  font-size: 1.375rem;
  font-weight: bold;
  color: #121212;
}

.book-author {
  font-family: "RobotoSlab", sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  color: #4386bf;
}

.comment-container {
  list-style: none;
  font-size: 0.875rem;
  display: flex;
  margin-top: 1rem;
  gap: 10px;
  text-transform: capitalize;
}

.comment-container li {
  font-family: "RobotoSlab", sans-serif;
  font-weight: 300;
  color: #4386bf;
}

.btn-remove {
  background-color: #fff;
  border: none;
  color: #4386bf;
  font-size: 14px;
  text-transform: capitalize;
  cursor: pointer;
}

.main-completed {
  display: flex;
  align-items: center;
}

.oval {
  width: 30%;
}

.complited-container {
  margin-right: 40px;
}

.comp-container {
  margin-left: 10px;
}

.comp-container h4 {
  font-size: 30px;
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
}

.complited {
  color: black;
  opacity: 0.5;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}

.line {
  position: absolute;
  height: 5rem;
  border-left: 2px solid #e8e8e8;
  margin-right: 20px;
  margin-top: 10px;
}

.chapter-container {
  padding-left: 20px;
}

.current {
  text-transform: uppercase;
  font-family: "RobotoSlab", sans-serif;
  font-size: 0.813rem;
  font-weight: 300;
  color: #121212;
  opacity: 0.5;
}

.chapter {
  font-size: 1rem;
  font-weight: 300;
  text-transform: capitalize;
  font-family: "RobotoSlab", sans-serif;
  color: #121212;
}

.update {
  margin: 15px 0;
  background-color: #0290ff;
  border-radius: 3px;
  padding: 10px;
  text-align: center;
}

.update-content {
  font-family: "RobotoSlab", sans-serif;
  font-size: 0.813rem;
  font-weight: 300;
  color: white;
}

.add-container {
  display: flex;
  flex-direction: column;
}

.addbook-heading {
  color: #888;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 8px;
}

.form input {
  margin: 7px;
}

.input-title {
  padding: 0.813rem 35.688rem 0.813rem 1.063rem;
  border: solid 1px #e8e8e8;
  border-radius: 4px;
}

.input-title::placeholder {
  color: #c4c4c4;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

.input-author {
  padding: 0.813rem 0.938rem 0.813rem  1rem;
  text-transform: capitalize;
  border: solid 1px #e8e8e8;
  border-radius: 4px;
}

.input-author::placeholder {
  color: #c4c4c4;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  letter-spacing: -0.15px;
}

.add-btn {
  padding: 12px;
  background-color: #0290ff;
  border: none;
  color: white;
  font-family: "RobotoSlab", sans-serif;
  font-size: 0.813rem;
  border-radius: 5px;
}

.add-btn:hover {
  cursor: pointer;
  background-color: white;
  color: #0290ff;
  transition: 0.3s;
}

.line-2 {
  border: 1px solid #e8e8e8;
  margin: 20px 8px;
}

@media (max-width: 768px) {
  .navbar {
    padding: 15px;
  }

  .nav-items {
    gap: 25px;
    left: 50%;
  }

  .logo.Text-Style-3 {
    font-size: 20px;
  }

  .nav-link {
    font-size: 17px;
  }

  .main-container {
    margin: 10px;
  }

  .book-container {
    align-items: center;
  }

  .comment-container {
    font-size: 0.75rem;
    gap: 3px;
  }

  .oval {
    width: 25%;
  }

  .comp-container h4 {
    font-size: 20px;
  }

  .complited {
    font-size: 12px;
  }

  .line {
    height: 8rem;
  }

  .chapter,
  .update-content {
    font-size: 12px;
  }

  .form input {
    display: flex;
    flex-direction: column;
  }

  .input-title,
  .input-author {
    padding: 15px;
    width: 50%;
  }

  .add-btn {
    margin-left: 5px;
  }
}
